<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple HTML/CSS Contact Form</title>



      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <div class="container">
  <form id="contact" action="/add" method="post" enctype="multipart/form-data">
    <h3>Add Form</h3>
    <h4>{{message}} </h4>
     <a href="/" >Home</a>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus name="name">
    </fieldset>
        <fieldset>
      <input placeholder="Department" type="text" tabindex="1" required autofocus name="department">
    </fieldset>
        <fieldset>
      <input type="file"  name="photo" />
    </fieldset>    
    <fieldset>
      <button name="submit" id="contact-submit" >Submit</button>
    </fieldset>

  </form>
</div>


</body>
</html>
