<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple HTML/CSS Contact Form</title>



      <link rel="stylesheet" href="css/style.css">


</head>

<body>
  <div class="container">
  <h1 style="margin-top:200px;color:black">Welcome to node js demo</h1>
  <ol>
    <li><a href="/add" >Add</a></li>
    <li><a href="/" >Home</a></li>
  </ol>
</div>


</body>
</html>
